<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recanto da Compaixão Frei Salvador</title>
    <link rel="icon" type = "imagem/x-icon" href="https://scontent.fpoa5-1.fna.fbcdn.net/v/t1.6435-9/96045353_103426101368342_4074233619395117056_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=tIf6PSX3DnoAX-8qqb0&_nc_ht=scontent.fpoa5-1.fna&oh=00_AT8DNtz8-JPr8Fqhglza-MNcHvnkLCy7oQb-LFlyVcgX_A&oe=62E1773E">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="style.css" rel="stylesheet">
  </head>
  <body>
    <body class="body" style="background-color:#57b175;">

      <nav class="navbar navbar-expand-lg" style="background-color:#227c40;"  >
        <div class="container-fluid" >
          <a class="navbar-brand" href="#"><home_page class="html"></home_page></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent" id="menupar" >
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="menu" >
              <li class="nav-item" >
                <a class="nav-link active" aria-current="page" style="color:#ffffff" href="home_page.html">Página Inicial</a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" style="color:#ffffff" href="quem_somos.html">Quem Somos</a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" style="color:#ffffff" href="doacao.html">Doações</a>
              </li>
            
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" style="color:#ffffff" href="informacional.html">Informacional</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" style="color:#ffffff" href="contato.html">Contato</a>
              </li>
            
            </ul>
            <nav class="navbar ">
              <div class="container"> 
                <a class="navbar-brand" href="#">
                  <img src="https://i.pinimg.com/originals/0a/cd/17/0acd176792c4e25691bba31efe7cd95f.jpg" alt="" width="90" height="80">
                </a>
              </div>
            </nav>
          </div>
        </div>
      </nav>

      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators"> 
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://wp.ebradi.com.br/wp-content/uploads/2021/01/ebradi_ebradi_image_707-1080x675.jpeg" class="d-block w-100" alt="" height="248px">
          </div>
          <div class="carousel-item">
            <img src="https://guardioesdevidas.com/wp-content/uploads/2018/11/245945-x-direitos-do-estatuto-do-idoso-que-todos-devem-conhecer.jpg" class="d-block w-100" alt="" height="248px">
          </div>
          <div class="carousel-item">
            <img src="https://personalecuidador.com.br/wp-content/uploads/2019/11/o-processo-de-envelhecimento-e-a-dependencia-do-idoso_20170710034141_3367-1024x423.jpg" class="d-block w-100" alt="" height="248px">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden"></span>
        </button>
      </div>
    </br>
      
    <div class="container">
      <div class="row">
        <div class="col centralizar">
          <span style="background-color: #e1ee2d" > Quem Somos </span> <!-- SUBLINHA O TEXTO-->
        </br>
          <img src="https://organicsnewsbrasil.com.br/wp-content/uploads/2016/09/idosos.png" width="260" height="180" />
          <p> Parágrafo sobre a instituição </p>
        </br>
        </div>

        <div class="col centralizar">
          <span style="background-color: #e1ee2d"> Informacional </span>
          </br> 
          <img src="https://th.bing.com/th/id/R.74b2a8b8797f5d768bc952035deb5335?rik=eSukTSpmt7I5iw&pid=ImgRaw&r=0" width="240" height="150" />
          <p> Parágrafo sobre como são feitas as reciclagens </p>
        </div>
      </div>

    <div class="container">
      <div class="row">
        <div class="col centralizar">
        <span style="background-color: #e1ee2d"> Doações </span>
        </br>
        <img src="https://th.bing.com/th/id/OIP.N9QO87xXWP4x960DBn7JkgHaE8?pid=ImgDet&w=1579&h=1053&rs=1" width="260" height="180" />
          <p> Parágrafo sobre as doações</p>
        </br>
        </div>

        <div class="col centralizar">
          <span style="background-color: #e1ee2d"> Contato </span>
          </br>
          <img src="https://st4.depositphotos.com/13193658/23273/i/450/depositphotos_232739360-stock-photo-cheerful-pensioner-smiling-and-holding.jpg" width="240" height="150" />
          <p> Parágrafo sobre como contatar o Recanto </p>
        </div>
      </div>


      <footer style="background-color:#227c40;" > <!-- RODAPÉ -->

        <div class="container"> <!-- COLUNA REDES SOCIAIS -->
        </br>
          <div class="row" class="centralizar">
            <div class="col centralizar d-flex align-items-center justify-content-center">
            </br>
            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
              <center>
              <div>
                <span style="color:#ffffff"> NOS ENCONTRE NAS REDES SOCIAS! </span>
              </div>
              </br>
              
              <div>
                <a href= "https://www.instagram.com/recantodacompaixao" > 
                <button type="button" class="btn btn-dark"> INSTAGRAM </button>
                </a>
              </div>

              </br>

              <div>
                <a href= "https://www.facebook.com/recantofreisalvador/" > 
                <button type="button" class="btn btn-dark"> FACEBOOK </button>
                </a>
              </div>

              </br>

              <div>
                <a href= "https://api.whatsapp.com/send?phone=5554984100101&text=Tenho%20Interesse%20em%20realizar%20uma%20doacao" > 
                <button type="button" class="btn btn-dark"> WHATSAPP </button>
                </a>
              </div>
            </center>
            </br>
            </div>
            </br>
            </div>
    
            <div class="col centralizar" class="d-flex align-items-center" class="d-flex justify-content-center"> <!-- COLUNA LOGO + LINK SITE EXTRA -->
              </br>
              <center>
              <div class="card" style="width: 18rem; background: #57b175;">
                <img class="card-img-top" src="https://i.pinimg.com/originals/0a/cd/17/0acd176792c4e25691bba31efe7cd95f.jpg" alt="Imagem de capa do card">
                  <div class="card-body">
                    <a href="https://a.mylink.ee/recantodacompaixao" class="btn btn-primary"> SAIBA MAIS SOBRE O PROJETO </a>
                  </div>
              </div>
              </br>
              </center>
            </div>

            <div class="col centralizar" class="centralizar" class="d-flex align-items-center" class="d-flex justify-content-center"> <!-- COLUNA NAVEGAR PÁGINAS -->
              <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                <center>
                <div>
                  <span style="color:#ffffff"> VISITE MAIS PÁGINAS DO SITE! </span>
                </div>

                </br>
                
                <div>
                  <a href= "#" > <!-- PREENCHER-->
                  <button type="button" class="btn btn-dark"> QUEM SOMOS </button>
                  </a>
                </div>

                </br>
                
                <div>
                  <a href= "#" > <!-- PREENCHER-->
                  <button type="button" class="btn btn-dark"> DOAÇÃO </button>
                  </a>
                </div>

                </br>
                
              <div>
                <a href= "#" > <!-- PREENCHER--> 
                <button type="button" class="btn btn-dark"> INFORMACIONAL </button>
                </a>
              </div>

              </br>

              <div>
                <a href= "#" > <!-- PREENCHER--> 
                <button type="button" class="btn btn-dark"> CONTATO </button>
                </a>
              </div>
              
            </center>
              </br>
              </div>
              </br>
              </center>
              </div>

              <div class="centralizar" style="color: #ffffff"> <!-- ASSINATURA FINAL DA PÁGINA -->
                <center><p> Recanto da Compaixão Frei Salvador | 2022 </p></center>
              </div>

      </footer>

    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>